.main-container {
    text-align: center;
}  

.radio-container {
    background-color: aquamarine;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}

h1, h2 {
    color: aquamarine;
}

button {
    margin-top: 12px;
}