html, body {
    background-size: 4em 4em;
    background-color: #233541;
    opacity: 1;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';